<header  class="flex justify-center mt-4" [class.scrolled]="isScrolled">
  <ul class="text-white flex gap-5 border border-white py-4 px-10 rounded-3xl">
    <li><a href="#home" class="hover:underline">Home</a></li>
    <li><a href="#about-me" class="hover:underline">About Me</a></li>
    <li><a href="#skills" class="hover:underline">Skills</a></li>
    <li><a href="#project" class="hover:underline">Project</a></li>
    <li><a href="#experience" class="hover:underline">Experience</a></li>
    <li><a href="#contact" class="hover:underline">Contact Me</a></li>
  </ul>
</header>
