<section class="py-20">
  <div class="max-w-4xl mx-auto px-6 flex flex-col gap-10">
    <h2 class="text-3xl md:text-4xl font-bold text-center mb-12">Education</h2>

    <div class="flex flex-col md:flex-row items-center gap-8 text-center md:text-left">
      <!-- Logo -->
      <div
        class="w-32 h-32 md:w-40 md:h-40 rounded-full overflow-hidden flex items-center justify-center"
      >
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqy89iatv4EVm_a9lb4CDkYPKfQH5_3ZcmPw&s"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxFFN11aZ3OCOdhZxYCMyNBl7pczLkxv9Y6A&s"
          alt="Itahari International College Logo"
          class="w-full h-full object-cover"
        />
        <!-- src="https://iic.edu.np/image/iic-logo.svg" -->
      </div>

      <!-- Content -->
      <div>
        <h3 class="text-xl md:text-2xl font-semibold">BSc (Hons) Computing</h3>

        <p class="text-lg font-medium mt-2">Itahari International College</p>

        <p class="text-gray-600 mt-2">2022-2025</p>
      </div>
    </div>
    <div class="flex flex-col md:flex-row items-center gap-8 text-center md:text-left">
      <!-- Logo -->
      <div
        class="w-32 h-32 md:w-40 md:h-40 rounded-full overflow-hidden flex items-center justify-center"
      >
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqy89iatv4EVm_a9lb4CDkYPKfQH5_3ZcmPw&s"
          alt="Itahari International College Logo"
          class="w-full h-full object-cover"
        />
      </div>

      <!-- Content -->
      <div>
        <h3 class="text-xl md:text-2xl font-semibold">School Leaving Certifiacte (SLC)</h3>

        <p class="text-lg font-medium mt-2">Itahari International College</p>

        <p class="text-gray-600 mt-2">2021-2022</p>
      </div>
    </div>

  </div>
</section>
