  <section id="contact" class="py-16 text-white">
    <div class="text-center">
      <h2 class="text-3xl font-bold mb-6">Contact</h2>
      <p class="mb-4">Email: your@email.com</p>
      <div class="flex justify-center gap-6">

        <a href="https://github.com/Ayush-tamang07" target="_blank" class="hover:underline">
            Github            
        </a>
        <a href="https://www.linkedin.com/in/ayush-tamang-23381b26a/" target="_blank" class="hover:underline">LinkedIn</a>
      </div>
    </div>
  </section>