<!-- <section> -->
<!-- <h1 class="text-4xl font-bold text-center text-gray-800 mb-8">ayush@root:~$ ls works/</h1> -->
<!-- <h1 class="text-4xl font-bold text-center text-gray-800 mb-8">$ ls my_works/</h1>
  <app-projectcard-component>
    *ngFor="let project of projects"
    [title]="project.title" 
    [description]="project.description">
  </app-projectcard-component>
</section> -->

<section id="project" class="py-20">
  <h1 class="text-4xl font-bold text-center text-gray-800 mb-8">$ ls my_works/</h1>

  <!-- Use *ngFor on the component tag -->
  <!-- <div class="flex justify-evenly"> -->
  <div class="flex flex-wrap justify-center gap-6">
    <app-projectcard-component
      class=""
      *ngFor="let project of projects"
      [title]="project.title"
      [description]="project.description"
      [image]="project.image"
      [livedemo]="project.livedemo"
      [github]="project.github"
    >
    </app-projectcard-component>
  </div>
</section>
